.footer__wrap {
  text-align: center;
  padding-bottom: 4em;
  padding-top: 4em;
  a {
    border-bottom-color: none;
    border-bottom-style: none;
    border-bottom-width: none;
  }
  p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.4;
    margin-top: 1em;
    margin-bottom: 0em;
  }
}
