// palette rip off from here http://www.colourlovers.com/palette/359978/w_o_r_d_l_e_s_s_.
$white: #FFFFFF;
$special: #CBE86B;
$grey: #F2E9E1;
$dark: #1C140D;

@import "mixins";
@import "hero";
@import "products";
@import "footer";

body {
  background-color: $white;
  color: $dark;
  font-family: system, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 29.4px;
  font-size: 21px;
}

.container {
  padding-left: 26.25px;
  padding-right: 26.25px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
}

a {
  text-decoration: none;
  border-bottom-color: $grey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: $dark;
}

a:hover {
  border-bottom-color: $special;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.about_us__wrap {
  padding-bottom: 4em;
  padding-top: 4em;
}

.section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2.25rem;
    line-height: 1.1;
  }

  .line {
    flex: 1;
    height: 1px;
    background-color: $grey;
  }
}
