.container
  .pure-menu.pure-menu-horizontal
    %ul.pure-menu-list
      %li.pure-menu-item
        = link_to "#{image_tag('th-flag.svg', :width=> '20')} ภาษาไทย", '/th', class: 'pure-menu-link'

  = partial "content"
