.img-wrapper
  %img.pure-img{:alt => "#{name}", :src => "http://placehold.it/600x550"}/
  %div
    %a.pure-button{:href => "#"} View

%h3
  = name
.price
  = price
/.pure-button.add2cart{:href => "javascript:;"} Add to cart
