.product-field
  = name
.product-field.nth.pure-g
  .field-name.pure-u-1
    type
  .field-content.pure-u-1
    = type
.product-field.pure-g
  .field-name.pure-u-1
    ingredients
  .field-content.pure-u-1
    = ingredients
.product-field.nth.pure-g
  .field-name.pure-u-1
    description
  .field-content.pure-u-1
    = description
