.section__title
  .line
  %h2
    = t('products.title')
  .line
#products.products__wrap
  .products__list.pure-g
    - left = true
    - data.products.en.each do |product|
      .pure-u-1.pure-u-md-1-2
        - if left
          .product-item.left
            = partial(:product_item, :locals => {:name => product[:name], :type => product[:type], :ingredients => product[:ingredients], :description => product[:description], :price => product[:price]})
            - left = false
        - else
          .product-item.right
            = partial(:product_item, :locals => {:name => product[:name], :type => product[:type], :ingredients => product[:ingredients], :description => product[:description], :price => product[:price]})
            - left = true

  .products__footer
    = image_tag 'arrow.svg'
