--- 
title: Soihok - your shop for happines! 
---

.hero-container.pure-g
  .pure-u-1.pure-u-md-22-24.pure-u-lg-5-6.offset-md-1-24.offset-lg-2-24
    .hero__wrap
      %div
        = image_tag 'logo.png', :width=> '150', :class => 'logo'
        .hero__title
          %h1
            Design. Build. Ship.
        .hero__subtitle
          We provide design &amp; development expertise on-tap to help you build and ship your next digital product, platform, or app.
        .hero__buttons
          =link_to "Get in touch", "#getInTouchForm", :class => "Tappable-inactive styles__button___2JB6X styles__warning___3vmSu styles__large___Ia-Bd styles__base___1y_IT styles__inline___2Iz7H"
          =link_to "or read on...", "#intro", :title => "read on"
