--- 
title: Soihok - your shop for happines! 
---

.container
  .hero__wrap
    = image_tag 'logo.png', :width=> '150', :class => 'logo'
    .hero__title
      %h1
        Beaty. Health. Happiness.
    .hero__subtitle
      We're a friendly online brand with eco-friendly hand-crafted products for your maximum enjoyment.
    .hero__buttons
      = link_to "Our products", "#products", :class => "pure-button"
      = link_to "or read about us ...", "#about_us", :title => "read about us", :class => 'secondary-button'
  #about_us.about_us__wrap
    %p
      Our brand is dedicated to providing best quality hand made products.
      This is family run business, our family started at a small friendly shop at Thai soi number 6.
      And we're dedicated to be that small friendly soi shop, but in internet. 
    %p 
      We belive in doing business with passion. This is why all our products to satisfy these requirements.
    %ul
      %li All products locally sourced (Thailand) from independent manufacturer
      %li Products that all family approves and actively uses
      %li Eco-friendly, handmade 
    %p
      We're also partnering with companies that satisfy those requirements [link: "http://euphorbia.soihok.com/"]
  #products.products__wrap
    .products_title
      %h2 Products
    .products_subtitle
      Comming soon ...
  .footer_wrap
    %p
      For non-project related enquiries, contact us at hello@soihok.com
    %p
      Facebook, Line